$fontMain:  montserrat,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
$orange: #f75506;
$grey: #79787f;
.h100{
    height: 100%;
}

body {
    font-family: $fontMain;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
h1,h2,h3,h4,h5,h6{
    color: #1e1d24;
}
//хз откуда, но приходится дописывать
button:focus {
    outline: none;
}
.h31{
    height: 31px;
    margin-bottom: 30px;
}
.more{
    margin-top: 25px;
    display: inline-block;
    background-color: #f75506;
    color: #fff;
    font-size: 12px;
    padding: 13px  44px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s linear;
    letter-spacing: 2px;
    &:hover, &:focus{
        text-decoration: none;
        transition: all 0.3s linear;
        background-color: #fff;
        color: $orange;
    }
    &.onWhite:hover, &.onWhite:focus{  
        background-color: #1e1d24;
        color: #fff;
    }
}
.sectHeading{
    text-align: center;
    margin-bottom: 60px;
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    p{
        font-size: 18px;
        line-height: 1.6;
        color: #79787f;
    }
    &.white{
        h2{
            color: #fff;
        }
    }
}

header{
    height: 100vh;
    background-image: url("../img/bg-image-1.jpg");
    background-position: center;
    background-size: cover;
    min-height: 840px;
}
.fixMenuTop{
    background-color: transparent;
    transition: background-color 0.5s;
}
.menuTop{
    width: 100%;test
    padding-top: 20px;
    padding-bottom: 20px;
    .logo{
        img{
            margin-right: 20px;
            height: 30px;
        }
        p.description{
            display: inline-block;
            color: #fff;
            font-size: 12px;
        }
        a{
            text-decoration: none;
            &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
    ul.menu{
        margin: 0;
        li.menuItem{
            padding-left: 20px;
            &.active{
                a{
                    color: $orange;
                }
            }
            a{
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                transition: color 0.3s;
                &:hover, &:focus{
                    text-decoration: none;
                    color: $orange;
                    transition: color 0.3s;
                }
            }
        }
    }
    button#togglerMenu{
        position: absolute;
        top: 0;
        left: 0;
        &:focus{
            outline: none;
        }
    }
    .hamburger-inner, 
    .hamburger-inner:after, 
    .hamburger-inner:before,
    .hamburger.is-active .hamburger-inner, 
    .hamburger.is-active .hamburger-inner:after, 
    .hamburger.is-active .hamburger-inner:before
     {
        background-color: #fff;
    }
}




.blockText{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    h1{
        color: #fff;
        font-size: 60px;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 30px;
        span{
            color: #f75506;
        }
    }
    p{
        font-size: 18px;
        line-height: 1.6;
    }
}

section#about{
    padding-top: 60px;
    .block{
        h2{
            font-size: 40px;
            font-weight: bold;
        }
        p{
            font-size: 18px;
            line-height: 1.6;
            color: #79787f;
        }
        img{
            width: 100%;
        }
    }
    .aboutBlock{
        padding: 35px 18px;
        margin-top: 40px;
        transition: all 0.3s;
        &:hover, &:focus{
            background-color: $orange;
            transition: all 0.3s;
            i{
                color: #fff;
                transition: color 0.3s;
            }
            h3{
                color: #fff;
                transition: color 0.3s;
            }
            p{
                color: #fff;
                transition: color 0.3s;
            }
        }
        i{
            color: $orange;
            transition: color 0.3s;
        }
        h3{
            margin-top: 20px;
            margin-bottom: 15px;
            font-size: 16px;
            color: #222;
            transition: color 0.3s;
        }
        p{
            font-size: 14px;
            color: #79787f;
            transition: color 0.3s;
        }
    }
}
section#digits{
    background-color: $orange;
    padding: 70px 0;
    margin-top: 40px;
    .circle{
        position: relative;
        width: 118px;
        height: 118px;
        margin: 0 auto;
        margin-top: 30px;
        border: 2px solid #fff;
        border-radius: 100%;
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
    }
    p.digit{
        font-size: 46px;
        color: #fff;
        font-weight: bold;
    }
    p{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 0;
    }
}

section#pricing{
    padding: 80px 0;
    .pricingHead{
        margin-bottom: 60px;
        h2{
            font-size: 40px;
            margin-bottom: 30px;
        }
        p{
            font-size: 18px;
            color: #79787f;
        }
    }
    .priceBlock{
        border: 2px solid rgba(0,0,0,.06);
        padding: 20px 0;
        h3{
            font-size: 16px;
            margin-bottom: 40px;
        }
        p.price{
            color: $orange;
            font-size: 40px;
            sup{
                font-size: 26px;
            }
        }
        p{
            font-size: 16px;
        }
    }
    .priceList{
        .list-group-item {
            border: 1px solid rgba(0,0,0,.06);
            border-right: none;
            border-left: none;
            font-size: 12px;
        }
    }
}

section#hours{
    background: url(../img/bg-image-2.jpg);
    background-size: cover;
    background-position: center;
    padding: 156px 0 172px;
    position: relative;
    margin-top: 150px;
    img.abs{
        position: absolute;
        height: 818px;
        width: 578px;
        right: 0;
        bottom: 0;
    }
    a.more{
        margin-top: 40px;
    }
    .hoursText{
        color: #fff;
        margin-bottom: 50px;
        h2{
            color: #fff;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 30px;
            span{
                color: $orange;
            }
        }
        p{
            font-size: 18px;
        }
    }
    .countDown{
        font-size: 90px;
        color: #fff;
        font-weight: bold;
        position: relative;
        p{
            margin-bottom: 0;
            line-height: 1.2;
        }
        p.subtitle{
            font-size: 24px;
        }
        .point{
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 20px 20px;
        }
    }
}

section#speakers{
    padding: 80px 0;
    .speakerBlock{
        border: 1px solid #efefef;
        background-color: #fff;
        transition: background-color 0.3s;
        margin-top: 40px;
        padding-bottom: 40px;
        &:hover, &:focus{
            background-color: $orange;
            transition: background-color 0.3s;
            h3, p, .socSeti i{
                color: #fff;
                transition: color 0.3s;
            }
        }
        img{
            margin-bottom: 50px;
            width: 100%;
        }
        h3{
            font-size: 14px;
            margin-bottom: 20px;
            font-weight: bold;
            color: #000;
            transition: color 0.3s;
        }
        p{
            font-size: 14px;
            padding: 0 10px;
            color: $grey;
            transition: color 0.3s;
        }
        .socSeti{
            i{
                margin-right: 15px;
                font-size: 12px;
                color: $grey;
                transition: color 0.3s;
            }
        }
    }
}

section#gallery{
    padding: 80px 0 0;
    background-color: #000;
    .imgBlock{
        position: relative;
        overflow: hidden;
        &:after{
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: -100%;
            transition: left 0.5s;
        }
        &:hover, &:focus{
            &:after{
                left: 0;
                transition: left 0.5s;
            }
            .imgBlockText{
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
                padding: 0 30px;
                transition: all 0.3s;
                opacity: 1;
            }
        }
        img{
            width: 100%;
        }
        .imgBlockText{
            position: absolute;
            z-index: 2;
            bottom: 0;
            padding: 0 30px;
            transition: all 0.3s;
            opacity: 0;
            h3{
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                margin-bottom: 20px;
            }
            p{
                color: #fff;
            }
        }
    }
}

section#news{
    padding: 80px 0;
    .newsBlock{
        overflow: hidden;
        border: 1px solid rgba(0,0,0,0.06);
        margin-bottom: 30px;
        img{
            width: 100%;
            margin-bottom: 30px;
            transition: transform 0.3s;
            &:hover, &:focus{
                transform: scale(1.1);
                transition: transform 0.5s;
            }
        }
        a{
            text-decoration: none;
            color: #1e1d24;
            &:hover, &:focus{
                text-decoration: none;
                h3{
                color: $orange;
                transition: color 0.3s;
                }
            }
            h3{
                color: #1e1d24;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 20px;
                transition: color 0.3s;
            }
        }
        .newsBlockText{
            padding: 0 20px;
            p{
                color: #767676;
                font-size: 14px;
                margin-bottom: 20px;
            }
            p.comments{
                color: $orange;
            }
        }

    }
}

section#testimonials{
    padding: 80px;
    // background-image: url(../img/bg-parallax-1.jpg);
    background-size: cover;
    background-position: center;
    .wrapTestBlock{
        .testBlock{
            padding: 30px 20px;
            background-color: #fff;
            margin-bottom: 30px;
            position: relative;
            border-radius: 12px;
            &:after{
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0;
                border-color: #fff transparent;
                position: absolute;
                bottom: 0;
                transform: translateY(100%);
                left: 30px;
            }
            i{
                font-size: 24px;
                color: $orange;
                margin-bottom: 20px;
            }
            p.testText{
                color: #79787f;
                font-size: 14px;
            }
        }
        .author{
            img{
                width: 78px;
                display: inline-block;
            }
            .authorName{
                margin-left: 20px;
                p.name{
                    color: #fff;
                    margin: 0;
                }
                p.city{
                    color: $orange;
                    margin: 0;
                }
            }
        }
    }
    .owl-theme .owl-nav {
        position: absolute;
        top: 27%;
        width: 100%;
        height: 0;
        [class*=owl-] {
            width: 41px;
            height: 41px;
            color: #FFF;
            font-weight: bold;
            background: $orange;
            transition: background-color 0.3s;
            display: inline-block;
            cursor: pointer;
            border-radius: 50%;
            border: none;
            i{
                font-size: 33px;
            }
        }
        .owl-prev{
            float: left;
            position: relative;
            left: -25px;
            &:hover, &focus{
                background-color: #1e1d24;
                transition: background-color 0.3s;
                outline: 0px !important;
            }
        }
        .owl-next{
            float: right;
            position: relative;
            right: -26px;
            &:hover, &focus{
                background-color: #1e1d24;
                transition: background-color 0.3s;
                outline: 0px !important;
            }
        }
    }
}

section#brands{
    padding: 60px 0;
    background-color: #f7f7f7;
    .brandBlock{
        img{
            width: 100%;
            transition: opacity 0.3s;
            opacity: 1;
        }
        &:hover, &:focus{
            img{
                opacity: 0.6;
                transition: opacity 0.3s;
            }
        }
    }
}

section#contacts{
    padding: 60px 0;
    textarea{
        resize: none;
    }
    button[type="submit"]{
        border: none;
        &:hover, &:focus{
            color: #fff;
        }
    }
    .map{
        min-height: 400px;
        height: 100%;
    }
}

footer{
    background-color: #1e1d24;
    padding: 60px 0;
    .speakerBlock{
        .logo{
            margin-bottom: 30px;
            img{
                max-width: 100%;
                height: 31px;
            }
        }
        p{
            color: #b2b2b2;
            font-size: 14px;
        }
    }
    .footerBlock{

        p.headText{
            font-weight: bold;
            color: #fff;
        }
    }
    ul.servicesLink{
        li{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            a{
                color: #b2b2b2;
                transition: color 0.3s;
                text-decoration: none;
                &:hover, &:focus{
                    text-decoration: none;
                    color: $orange;
                    transition: color 0.3s;
                }
            }
            i{
                color: $orange;
                font-size: 18px;
                margin-right: 10px;
            }
        }
    }
    .postBlock{
        margin-bottom: 20px;
        img{
            margin-right: 20px;
        }
        .textPost{
            p{
                color: #b2b2b2;
                font-size: 12px;
                margin-bottom: 5px;
                span{
                    color: $orange;
                }
            }
            a{
                color: #b2b2b2;
                transition: color 0.3s;
                text-decoration: none;
                font-size: 14px;
                &:hover, &:focus{
                    text-decoration: none;
                    color: $orange;
                    transition: color 0.3s;
                }
            }
        }
    }
    .gallery{
        img{
            margin-bottom: 10px;
            margin-right: 5px;
        }
    }
}