$fontMain: 'Lora', serif;
$OpenSans: 'Open Sans', sans-serif;
$mainColor: #151515;
$grey: #777;
.h100{
    height: 100%;
}

body {
    font-family: $fontMain;
}
//хз откуда, но приходится дописывать
button:focus {
    outline: none;
}
.heading{
    text-align: center;
    margin-bottom: 40px;
    h2{
        text-transform: uppercase;
        font-size: 47px;
        color: #151515;
    }
}
.logo{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 2;
}
header{
    position: relative;
    height: 100vh;
}
.topMenuOnSm{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    padding: 10px;
    .logo{
        margin: 0;
        margin-left: 10px;
        padding-bottom: 15px;
    }
}


nav{
    position: relative;
    z-index: 2;
    &:before, &:after{
        content: '';
        position: absolute;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.23);
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    ul.menu{
        margin: 20px 0;
        li{
            margin-right: 40px !important;
            &.active{
                a{
                    color: #f74860;
                }
            }
            a{
                color: #fff;
                transition: color 0.3s;
                text-decoration: none;
                &:hover, &:focus{
                    color: #f74860;
                    transition: color 0.3s;
                }
            }
        }
    }
}

.owl-carousel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .item{
        position: relative;
        .backgr{
            position: absolute;
            background-size: cover;
            height: 100vh;
            width: 100%;
            background-position: center;
        }
        .container, .row{
            height: 100vh;
        }
    }
    .owl-nav {
        position: absolute;
        height: 0;
        width: 100%;
        top: 50%;
        [class*=owl-]{
            position: absolute;
            color: #FFF;
            font-size: 60px;
            background: transparent;
            display: inline-block;
            cursor: pointer;
            border-radius: 0;
            border: none;
            transition: color 0.3s;
            transform: translateY(-50%);
            &:hover,&:focus{
                color: #404040; 
                background-color: transparent;
                transition: color 0.3s;
            }
        }
        .owl-prev{
            left: 0;
        }
        .owl-next{
            right: 0;
        }
    }
}


.textSlide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    h3{
        font-size: 32px;
    }
    h2{
        font-size: 100px;
        margin-bottom: 20px;
    }
    p{
        font-size: 18px;
        font-family: $OpenSans;
        margin-bottom: 50px;
    }
    a{
        transition: all .3s ease-in-out;
        z-index: 1;
        color: #151515;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
        padding: 16px 32px;
        font-size: 14px;
        line-height: 2;
        font-family: $OpenSans;
        border: none;
        border-radius: 0;
        transition: all 0.25s ease-in-out;
        &:after{
            background: #fff;
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            width: 110%;
            padding-bottom: 110%;
            border-radius: 50%;
            transform: translate3d(-50%, -50%, 0) scale(1);
            transition: inherit;
            pointer-events: none;
            z-index: -1;
        }
        &:hover, &:focus{
            color: #ffffff;
            border: none;
            background-color: #404040;
            &:after{
                transform: translate3d(-50%, -50%, 0) scale(0);
            }
        }
    }
}

section{
    padding: 70px 0;
}
.boxFlower{
    position: relative;
    margin-bottom: 50px;
    img{
        border-radius: 8px;
        margin-bottom: 20px;
    }
    a{
        color: $mainColor;
        transition: color 0.3s;
        h3{
            font-size: 18px;
        }
        &:hover, &:focus{
            color: #f74860;
            transition: color 0.3s;
        }
    }
    p.price{
        color: $grey;
        font-size: 15px;
        span{
            margin-left: 5px;
            color: #f74860;
        }
    }
    p.new, p.sale{
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 20px;
        text-transform: uppercase;
        font-size: 14px;
        padding: 3px 8px;
    }
    p.new{
        background-color: #fff;
    }
    p.sale{
        background-color: #f74860;
        color: #fff;
    }
}

section#digits{
    p{
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
    }
    p.digit{
        font-size: 48px;
        &:after{
            content: '';
            display: block;
            width: 40px;
            height: 1px;
            background-color: #fff;
            margin: 20px auto;
        }
    }
}

section#accord{
    .accordWrap{
        margin-top: 30px;
    }
    .card{
        border-color: #fff;
        &:not(:last-of-type){
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }
    .card-header {
        padding: 20px;
        background-color: #fff;
        h2 {
            button.collapsed{
                i{
                    background-color: #fff;
                    color: #404040;
                    transition: background-color 0.3s, color 0.3s, transform 0.3s;
                    transform: rotate(0deg);
                }
            }
            &:hover, &:focus{
                outline: none;
                button.collapsed{
                    i{
                        transition: background-color 0.3s, color 0.3s, transform 0.3s;
                        transform: rotate(90deg);
                    }
                }
                button{
                    i{
                        transition: background-color 0.3s, color 0.3s, transform 0.3s;
                        transform: rotate(-90deg);
                    }
                }
            }
            button{
                padding: 0;
                text-transform: uppercase;
                i{
                    background-color: #404040;
                    color: #fff;
                    margin-right: 20px;
                    font-size: 20px;
                    line-height: 42px;
                    text-align: center;
                    border: 1px solid rgba(0,0,0,.125);
                    box-shadow: 0 0 5px 0 rgba(1, 3, 4, 0.19);
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    transition: background-color 0.3s, color 0.3s, transform 0.3s;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .btn-link{
        color: $mainColor;
        text-decoration: none;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    .bonus{
        margin-top: 60px;
    }
    .wrapBlock{
        margin-bottom: 20px;
        padding: 42px;
        border: 1px solid rgba(0,0,0,.125);;
        i{
            font-size: 48px;
            color: #404040;
            margin-right: 10px;
        }
        h5{
            letter-spacing: .075em;
            margin-bottom: 10px;
            a{
                font-size: 18px;
                color: $mainColor;
            }
        }
        p{
            color: $grey;
            font-family: $OpenSans;
            margin: 0;
            font-size: 15px;
        }
    }
}

section#slick{
    .slider-for{
        p{
            font-size: 18px;
            color: $grey;
            font-family: $OpenSans;
        }
    }
    .slider-nav{
        .clientBlock{
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s;
            &:hover, &:focus{
                opacity: 1;
                transition: opacity 0.3s;
                outline: none;
            }
            &.slick-current {
                opacity: 1;
            }
            img{
                width: 87px;
                height: 87px;
                border-radius: 50%;
                margin: 20px auto;
            }
            p.clientName{
                font-size: 14px;
                color: $mainColor;
                font-family: $OpenSans;
            }
            p{
                color: $grey;
                margin-bottom: 5px;
            }
        }
    }
}

