$fontMain: 'Lora', serif;
$OpenSans: 'Open Sans', sans-serif;
$orange: #f75506;
$grey: #79787f;
.h100{
    height: 100%;
}

body {
    font-family: $fontMain;
    background-color: #79787f;
}
//хз откуда, но приходится дописывать
button:focus {
    outline: none;
}
.logo{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 2;
}
nav{
    position: relative;
    z-index: 2;
    &:before, &:after{
        content: '';
        position: absolute;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,0.23);
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    ul.menu{
        margin: 20px 0;
        li{
            margin-right: 40px !important;
            &.active{
                a{
                    color: #f74860;
                }
            }
            a{
                color: #fff;
                transition: color 0.3s;
                text-decoration: none;
                &:hover, &:focus{
                    color: #f74860;
                    transition: color 0.3s;
                }
            }
        }
    }
}

.owl-carousel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .item{

    }
}